html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    list-style: none;
    text-decoration: none;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav h1 {
    margin: 0;
    font-size: 1.5rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    background-color: blue;
    border-radius: 5px;
}

section {
    width: 100%;
    overflow: hidden;
}

.img-sec img {
    width: 100%;
    display: block;
    height: 400px;
}

main {
    display: flex;
    flex-direction: column;
}

.imgs-principal {
    width: 100%;
    padding: 20px;
}

.imgs-principal div {
    margin-bottom: 20px;
}

.lista-img {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f4f4f4;
}

.lista-img>div {
    flex: 1;
    padding: 10px;
}

.item {
    display: flex;
    align-items: center;
}

.item img {
    flex: 1;
    width: 100%;
    height: 150px;
    margin-right: 20px;
    margin-bottom: 30px;
}
.item2 img{
    width: 600px;
    height: 250px;
}

.item2 p{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    text-align: justify; 
}

.descricao {
    flex: 1;
}

.descricao p {
    margin: 0;
}

.div-1 img,
.div-2 img,
.div-3 img,
.div-4 img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

section {
    width: 100%;
    overflow: hidden;
}

.img-sec img {
    width: 100%;
    display: block;
    height: 400px;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    overflow-x: auto;
}

main section {
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
}

main section div {
    width: 25%;
    text-align: center;
}

main section div img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

.lista-img {
    background-color: rgb(58, 4, 4);
}

.lista-img div ul img {
    width: 55%;
    margin-bottom: 20px;
}

.section-texto {
    background-color: rgb(44, 2, 2);
}

footer {
    background-color: #0e0000;
    color: #fff;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-section {
    width: 45%;
}

.footer-section h3 {
    margin-top: 0;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}